version: "3.8"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: ino-backend
    restart: always
    env_file:
      - ./.env
    ports:
      - "5000:5000"
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: ino-frontend
    restart: always
    env_file:
      - ./.env
    ports:
      - "3000:3000"
  nginx:
    image: nginx:stable-alpine
    container_name: ino-nginx
    restart: always
    ports:
      - "8081:80" # changed to 8081 to avoid conflict with existing WordPress on port 8080
    volumes:
      - ./docker/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend
networks:
  default:
    driver: bridge
